
.PopUp-overlay {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  display: table;
  overflow-y: hidden;
  overflow-x: hidden;
}

.PopUp-inner {
  display: block;
  margin: 0 auto;
  margin-top: 35px;
  background: white;
  max-width: 255px;
  padding: 7px;
}

.PopUp--center .PopUp .PopUp-outer {
  display: table-cell;
  vertical-align: middle;
}
