    .row {
        box-sizing: border-box;
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex: 0 1 auto;
        -webkit-box-flex: 0;
        flex: 0 1 auto;
        -ms-flex-direction: row;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -1rem;
        margin-left: -1rem;
    }
    .box,
    .box-first,
    .box-large,
    .box-nested,
    .box-row {
        position: relative;
        box-sizing: border-box;
        min-height: 1rem;
        margin-bottom: 0;
        background: #007FFF;
        /* border: 1px solid #FFF; */
        /* border-radius: 2px; */
        overflow: hidden;
        text-align: center;
        color: #fff
    }

    .box-first {
        background: #06C;
        border-color: #007FFF
    }

    .box-nested {
        background: #036;
        border-color: #007FFF
    }

    .box-large {
        height: 8rem
    }

    .box-container {
        box-sizing: border-box;
        padding: .5rem
    }

    @media only screen and (min-width:48rem) {
        .box,
        .box-first,
        .box-large,
        .box-nested,
        .box-row {
            padding: 1rem
        }

    }